/* ------------------ */
/*        FONTS       */
/* ------------------ */
@font-face {
    font-family: 'lato';
    src: url('fonts/lato.woff2') format('woff2'),
         url('fonts/lato.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_spartan';
    src: url('fonts/leaguespartan.woff2') format('woff2'),
         url('fonts/leaguespartan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ------------------ */
/*        RESET       */
/* ------------------ */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, small, strong, sub, sup,
b, u, i, ul, li, aside, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
    padding-left: 20px;
}

/* ------------------ */
/*       GENERAL      */
/* ------------------ */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font: 16px/22px 'lato', sans-serif;
}

h1 {
    font: 45px/55px 'league_spartan', sans-serif;
}

h2 {
    font: 20px/24px 'league_spartan', sans-serif;
    margin-bottom: 12px;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0070ff;
}

.underline-from-center {
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}

.underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #0070ff;
    height: 2px;
    -webkit-transition-property: left, right;
    -o-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
}

.underline-from-center:hover:before,
.underline-from-center:focus:before,
.underline-from-center:active:before {
    left: 0;
    right: 0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 3.12px;
    font-weight: 600;
    margin: 15px 0 5px;
}

/* ------------------ */
/*       HEADER       */
/* ------------------ */

header {
    background: #191919 url('images/header-bg-2.jpg') center center no-repeat;
    color: #fff;
}

header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0 30px 30px;
    min-height: 200px;
}

header .text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}

header .subtitle {
    margin: 10px 0;
    font-weight: normal;
}

.image-wrapper {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background: url('images/Maria_Vangelova.jpg') 41% center no-repeat;
    background-size: cover;
}

/* ------------------ */
/*       CONTENT      */
/* ------------------ */
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 100px 30px 20px;
}

.content aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
    padding: 100px 20px 15px;
    background-color: #f0ebeb;
}

.personal-info-item,
.history-item {
    margin-bottom: 30px;
}

.company-name {
    margin-bottom: 5px;
}

/* ------------------ */
/*     MEDIA QUERY    */
/* ------------------ */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .subtitle {
        font-size: 15px;
    }

    header .container {
        padding: 30px 20px;
    }

    .image-wrapper {
        -ms-flex-preferred-size: 150px;
            flex-basis: 150px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
        position: relative;
        left: 0;
        top: 0;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .content section,
    .content aside {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        padding-top: 50px;
    }

    .content section {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .content aside {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}